@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto+Mono:ital,wght@1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
:root{
    --bg:#1f1f38;
    --bg-variant:#2c2c6c;
    --primary:#4db5ff;
    --primary-variant:rgba(77,181,255,0.4);
    --white:white;
    --light:rgba(255,255,255,0.6);

    --transition: all 400ms ease;

    --container-with-lg:75%;
    --container-with-md:86%;
    --container-with-sm:90%;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: var(--bg-variant);
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -80%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg , transparent ,transparent , var(--primary));
    z-index: 1;
    transform-origin:bottom right ;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -20%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg , transparent ,transparent , var(--primary));
    z-index: 1;
    transform-origin:bottom right ;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form {
    position: absolute;
    inset: 4px;
    background: var(--bg);
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: var(--white);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.input_box{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.input_box input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: var(--white);
    font-size: 1rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.input_box span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .input_box input:valid ~ span , 
.box form .input_box input:focus ~ span{
    color: var(--white);
    font-size: 0.75em;
    transform: translateY(-34px);
}

.input_box i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bg-variant);
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .input_box input:valid ~ i , 
.box form .input_box input:focus ~ i{
    height: 44px;
}

.box input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: var(--white);
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}
.box input[type="submit"]:active{
    opacity: 0.8;
}