header{
    height:115vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
/*=========CTA==========*/
.cta{
    margin-top: 2.5rem; 
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=========Header Socials==========*/
.Header_social{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.Header_social::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--primary);
}
.me{
    
    width: 30rem;
    height: auto;
    position: absolute;
    left: calc(45% - 11rem);
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

/*=========Scroll down==========*/

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/*=========Mesia query Midiume dvice==========*/

@media screen and (max-width:1024px){
    header{
        height: 64vh;
    }
}

/*--------------------Media query ( small devic )---------------------------*/
@media screen and (max-width:600px){
    header{
        height: 100vh;
    }

    .Header_social , .scroll_down{
        display: none;
    }
    .me{
        position: absolute;
        left: calc(53% - 11rem);
    }
}


@media screen and (max-width:450px){
    .me{
        position: absolute;
        left: calc(30% - 10rem);
    }
}


