*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#1f1f38;
    --bg-variant:#2c2c6c;
    --primary:#4db5ff;
    --primary-variant:rgba(77,181,255,0.4);
    --white:white;
    --light:rgba(255,255,255,0.6);

    --transition: all 400ms ease;

    --container-with-lg:75%;
    --container-with-md:86%;
    --container-with-sm:90%;
}

.menu_bar{
    position: fixed;
    background: var(--bg);
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 16px;
    border-right: 1px solid var(--bg-variant);
    overflow-y: auto;
}

.header_bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--primary) ;
    padding: 5px 0;
}
.header_bar img{
    width: 60px;
    height: 60px;
}
.header_bar h3{
    font-size: 16px;
}
.header_bar p{
    font-size: 12px;
    transform: translateY(-4px);
    color: gray;
}
.main_bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
}
.main_bar .item{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 4px 0px;
    padding:  8px 16px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: 1s;
    border-bottom: 1px solid var(--bg-variant);
    color: var(--white);
}

.main_bar .item span{
    transform: translateX(20px);
    font-size: 12px;
    font-weight: bold;
}

.main_bar .item:hover{
    background: var(--bg-variant);
}
.main_bar .item:active{
    opacity: 0.7;
}

.logout_btn{
    color: red;
    font-weight: bold;
    background: transparent;
    border-bottom: 1px solid red;
    padding: 5px;
    cursor: pointer;
}